<h1>Make your form here</h1>
<form action= "/pirates" method="POST">
 <label for="name">Name</label>
<input type="text" name="name">
<label for="weight">Weight</label>
<input type="number" name="weight">
<label for="height">Height</label>
<input type="number" name="height">
<input type="submit" value="Create New Pirate">
</form>
